**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
/gradle/wrapper/gradle-wrapper.jar
/.metadata/.plugins/com.liferay.ide.upgrade.plan.core/offline-outline/code-upgrade/08-upgrading-themes/02-upgrading-6.2-themes-7.2/02-setting-up-the-development-environment/01-setting-up-the-development-environment-intro.html
/.metadata/.plugins/com.liferay.ide.upgrade.plan.core/offline-outline/code-upgrade/08-upgrading-themes/02-upgrading-6.2-themes-7.2/06-updating-the-resources-importer-configuration-and-content/
/modules/Sedd-Theme/.gitignore
/modules/Sedd-Theme/build.gradle
